/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
a{text-decoration: none;}
ul,ol{list-style:none;}
dl,dd{
	padding:0; margin:0;
	}
p{ margin:0;}
body{
	padding:0;
	margin:0;
   	font-family: Verdana, Geneva, sans-serif;
	background-size:cover;
	
	}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	margin-bottom:0;
}

em{
	font-style:normal;
	}

label{
	margin:0;
}
/*-----start-header----*/

/*首页开始*/
body,html{height:100%;width:100%;margin:0;padding:0;overflow-x: hidden; overflow-y:auto;}
html body{ background:#f1f1f1;}
.wrapper{ width:100%; height:auto;}



/*公共头部代码*/

.mingf{
	background:#ff534c;
	}

.head{
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:1.1rem;
	position: fixed;
	width:100%;
	top:0;
	}
	
.hgj{
	background:#0177ef;
	}	

.head a{
	display:block;
	width:50px;
	font-size:.9rem;
	color:#fff;
	}	
	
.head a.wzi{
	height:30px;
	position:absolute;
	left:10px;
	top:10px;
	width:100px;
	line-height:30px;
	border:solid 1px #ef6e34;
	text-indent:-10px;
	font-size:1rem;
	border-radius:50px;
	background:url(../images/ion.png) no-repeat;
	background-position: 76px -33px;
    background-repeat: repeat-x;
	color:#ef6e34;
	outline:none;
	}

.head a.pgv{
	/*width:25%;*/
	height:30px;
	position:absolute;
	left:10px;
	top:10px;
	line-height:30px;
	font-size:1rem;
	border-radius:50px;
	background:url(../images/fx1.png) no-repeat;
	color:#fff;
	}	
	
	
.head a.wzi ul li{
	color:#fff;
	}		

.head a.yup{
	/*background:url(../images/yh1.png) no-repeat;*/
	background-position: -0px 5px;
	position:absolute;
	right:10px;
	top:10px;
	line-height:30px;
	font-size: 1rem;
	color:#fff;
	}
.head a.g{
	background-image:url(../images/jil.png);
	background-repeat:no-repeat;
	background-position:10px;
	}

.head a img{
	width:40%;
	vertical-align: middle;
	}
.head a ul{ display:none;}

.head a.wzi:hover ul{ display:block;}



.head a strong{
	display: none;
	font-size:.9rem;
	width:100px;
	position:absolute;
	right:-5px;
	top:30px;
	text-align:center;
	background-image:url(../images/ff_03.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:#f53e34;
	padding-top:10px;
	}
.head a strong span{
	display: block;
	width:80%;
	margin:0 auto;
	border-bottom:solid 1px #f5827b;
	}	

.head a.yup:hover strong{
	display:block;}





.whole{margin-top:50px;}




/*-------*/
.tubg{
	background:url(../images/ttih.png) no-repeat;
	background-size:100% 100%;
	height:215px;
	position:relative;
	}

.tu-a{
	text-align:center;
	padding-top:4rem;
	color:#ffde00;
	}
.tu-a span{
	font-size:2rem;
	text-shadow:0 3px 3px #0021b3;
	}
.tu-a em{
	font-size:1.5rem;
	}

.zic{
	color:#fff;
	}
.zic img{
	vertical-align:middle;
	width:5%;
	}


.qianbao{
	position:absolute;
	width:100%;
	bottom:-3.5rem;
	}

.qianbao ul{
	background:#fff;
	width:96%;
	margin:0 auto;
	border-radius:5px;
	overflow:hidden;
	}
.qianbao ul li{
	width:50%;
	float:left;
	padding:1rem 0rem;
	box-sizing: border-box;
	}

.qianbao ul li img{
	width:30%;
	vertical-align:middle;
	float:left;
	margin-right:.5rem;
	box-sizing: border-box;
	}

.qianbao ul li em{
	display: inline-block;
	color:#333;
	box-sizing: border-box;
	width:60%;
	float:left;
	margin-bottom:.3rem;
	}
	
.qianbao ul li em.g{ color:#999; font-size:.95rem;}	
	
.qianbao ul li .iuh{
	margin-bottom:1.5rem;
	overflow:hidden;
	margin-left:1.5rem;
	}
.qianbao ul li p{ color:#999;margin-left:1.5rem}
.qianbao ul li p span{ color:#333;}
/*-------*/




/*-------*/
.video{
	width:96%;
	margin:4.3rem auto auto auto;
	}
	
.video h3{
	background:#fff;
	border-radius: 5px;
	padding:.8rem .5rem;
	font-size:.95rem;
	color:#333;
	line-height:20px;
	}	
.video h3 span{
	float:right;
	font-weight:normal;
	font-size:.9rem;
	font-family:"宋体";
	color:#999;
	}	
.video h3 img{
	vertical-align: middle;
	width:6%;
	margin-right:.3rem;
	margin-top:-.3rem;
	}	

.video ul{
	overflow:hidden;
	margin-top:.8rem;
	}
	
.video ul li{
	float:left;
	width:31%;
	background:#fff;
	margin-left:.75rem;
	border-radius: 5px;
	padding:.5rem;
	box-sizing: border-box;
	font-size:.9rem;
	text-align:center;
	color:#666;
	}	
	
.video ul li img{
	width:100%;
	}	
/*-------*/





/*------*/
.Newsflash{
	width:96%;
	margin:.8rem auto auto auto;
	background:#fff;
	border-radius: 5px;
	font-size:.95rem;
	overflow:hidden;
	padding:.7rem 0rem;
	}
.Newsflash img{
	width:20%;
	vertical-align:middle;
	border-right:solid 1px #999;
	padding-right:.3rem;
	float:left;
	margin-right:.3rem;
	margin-left:.5rem;
	}
.Newsflash span{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:1;
	overflow: hidden;
	float:left;
	width:70%;
	color:#666;
	margin-top:-.15rem;
	}	
	
/*------*/




/*------*/
.Trend-Chart{
	width:96%;
	margin:.8rem auto auto auto;
	background:#fff;
	border-radius: 5px;
	}

.Trend-Chart h3{
	background:#fff;
	border-radius: 5px;
	padding:.8rem .5rem;
	font-size:.95rem;
	color:#333;
	line-height:20px;
	}	
.Trend-Chart h3 span{
	float:right;
	font-weight:normal;
	font-size:.9rem;
	font-family:"宋体";
	color:#999;
	overflow:hidden;
	}	

.Trend-Chart h3 span div{
	float:left;
	margin:0 .5rem;
	}	

.Trend-Chart h3 span div em{
	display:block;
	float:left;
	background:#F00;
	width:10px;
	height:5px;
	vertical-align:middle;
	margin-top:.5rem;
	margin-right:.5rem;
	border-radius: 1px;
	}	
	
.Trend-Chart h3 img{
	vertical-align: middle;
	width:6%;
	margin-right:.3rem;
	/*margin-top:-.3rem;*/
	}	
	
.quzt{
	width:98%;
	margin:0 auto;
	}	
.quzt img{
	width:100%;
	}
/*------*/



/*------*/
.substi{ 
	background:url(../images/fhg.png) no-repeat;
	background-size:100% 100%;
	height:200px;
	width:100%;
	position:relative;
	}

.daib{
	text-align:center;
	padding-top:4rem;
	color:#fff;
	}	
	
.daib dl dt{
	font-size:1.8rem;
	line-height:2rem;
	}	
	
.daib dl dd{
	line-height:26px;
	}	
	
.zhongc{
	position:absolute;
	width:100%;
	bottom:-2rem;
	}	
	
.zhongc ul{
	overflow:hidden;
	width:95%;
	margin:0 auto;
	background:#fff;
	padding:.5rem 0;
	border-radius:.5rem;
	}	
.zhongc ul li{
	width:20%;
	float:left;
	text-align:center;
	font-size:.9rem;
	}
.zhongc ul li img{
	width:40%;
	}		
	
	
.record{
	margin:3.5rem auto auto auto;
	padding:0 .5rem;
	}	
.record h3{
	font-size:1rem;
	font-weight:normal;
	color:#333;
	}
.record ul li{
	overflow:hidden;
	background:#fff;
	border-radius: 5px;
	padding:.3rem .5rem;
	font-size:.9rem;
	margin-top:.8rem;
	}
.record ul li span{
	width:50%;
	float:left;
	display:block;
	box-sizing: border-box;
	line-height:25px;
	color:#999;
	}		
.record ul li span.g{ text-align:right;}	
/*------*/




/*------*/
.nearby{
	background:#fff;
	margin:3.5rem auto auto auto;
	width: 96%;
    border-radius: .5rem;
	border-top: solid 5px #d0dcff;
	/*border-bottom: solid 5px #d0dcff;*/
	}
.nearby h3{
	padding:.8rem .5rem;
	font-size:.95rem;
	color:#333;
	line-height:20px;
	border-bottom:solid 1px #f5f5f5;
	margin-bottom:1.5rem;
	}	
.nearby h3 span{
	float:right;
	font-weight:normal;
	font-size:.9rem;
	font-family:"宋体";
	color:#398de2;
	background:#d0dcff url(../images/sj.png) no-repeat;
	background-position:right;
	padding:.1rem 1rem;
	border-radius:2rem;
	text-indent:-5px;
	}	
.nearby h3 img{
	vertical-align: middle;
	width:5%;
	margin-right:.3rem;
	/*margin-top:-.3rem;*/
	}
	
.nearby ul{
	overflow:hidden;
	}	
.nearby ul li{
	float:left;
	width:50%;
	margin-bottom:1.5rem;
	line-height:25px;
	text-indent:.5rem;
	}
.nearby ul li em{
	font-size:1.2rem;
	color:#2d6192;
	text-indent:.5rem;
	display:block;
	}
.nearby ul li p{
	font-size:.8rem;
	color:#666;
	}	
.nearby ul li span{
	color:#999;
	font-size:.7rem;
	}				
/*------*/



/*------*/
.personal{
	background-image:url(../images/fhg2.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	}
.personal label{
	position:absolute;
	right:1rem;
	top:1rem;
	text-align:center;
	font-size:.7rem;
	color:#efefef;
	}
	
.pe-a{ 
	width:80%;
	margin:0 auto;
	padding:3.5rem 0;
	overflow:hidden;
	}	

.pe-a i{
	display:block;
	float:left;
	border-radius:100%;
	background:#fff;
	width:70px;
	height:70px;
	padding:.2rem;
	margin-right:.5rem;
	}
.pe-a strong{
	display:block;
	margin-top:1rem;
	}
.pe-a span{
	display:block;
	line-height:1.5rem;
	color:#fff;
	}	
.pe-a i{ text-align:center;}	
.pe-a img{
	width:75%;
	margin-top:.6rem;
	}	
	
.pe-nav{
	background:#fff;
	}	
.pe-nav ul{
	overflow:hidden;
	padding-top:1rem;
	}	
.pe-nav ul li{
	width:33.3%;
	float:left;
	text-align:center;
	font-size:.9rem;
	padding:1rem 0;
	border-bottom:solid 1px #f5f5f5;
	border-right:solid 1px #f5f5f5;
	box-sizing: border-box;
	font-weight:600;
	color:#333;
	}	
.pe-nav ul li img{
	width:25%;
	}	
/*------*/




/*------*/
.recharge{
	width:94%;
	margin:3.8rem auto auto auto;
	}
.re-a{
	margin-bottom:.8rem;
    overflow: hidden;
	background:#fff;
	padding:1rem 1rem;
	line-height:30px;
	border-radius:.5rem;
	    border-top: solid 5px #d0dcff;
	}
.re-a img{
	width:10%;
    vertical-align: middle;
    float: left;
    margin-right: .5rem;
    box-sizing: border-box;
	}
.re-a em{
	display: inline-block;
    color: #333;
    box-sizing: border-box;
    float: left;
	}
.re-a span{
	color:#999;
	float:right;
	}
	
.re-b{
	background:#fff;
	border-radius:.5rem;
	padding:1.8rem 1rem;
	}	
	
.re-b strong{
	overflow:hidden;
	display:block;
	line-height:35px;
	margin-bottom:1.2rem;
	}
	
.re-b strong label{
	display:block;
	width:25%;
	float:left;
	font-size:.95rem;
	color:#333;
	}	
	
.re-b strong input{
	width:68%;
	float:left;
	line-height:29px;
	font-size:1rem;
	color:#666;
	border-radius: 3px;
    border: solid 1px #999;
	text-indent:.3rem;
	}
.re-b strong select{
	width:68%;
	float:left;
	line-height:35px;
	height:35px;
	font-size:.95rem;
	color:#666;
	border-radius: 3px;
    border: solid 1px #999;
	outline:none;
	}	
	
.bottom{
	text-align:center;
	}	
	
.bottom input{
	width: 45%;
    background: #2d6192;
    color: #fff;
    border: none;
    text-indent: 0;
	margin:.5rem 0;
	line-height:35px;
	font-size:1rem;
	border-radius: 3px;
	}	
/*------*/




/*------*/
.introduction{
	margin:3.5rem auto auto auto;
	}
.introduction ul{
	padding:.5rem .5rem;
	}	
.introduction ul .bt{
	font-size:1.2rem;
	margin-bottom:1rem;
	font-weight:600;
	border-bottom:solid 1px #c3c3c3;
	line-height:50px;
	}
.introduction ul li{
	margin-bottom:1.5rem;
	text-indent:1em;
	color:#666;
	font-size:.9rem;
	}
/*------*/



/*------*/
.mereg{
	margin:3.5rem auto auto auto;
	background:#fff;
	width:96%;
	border-radius:5px;
	}

.me-register{
	padding:1rem;
	line-height:35px;
	}
.me-register strong{
	display:block;
	overflow:hidden;
	margin-bottom:1rem;
	}
.me-register strong label{
	display:block;
	width:28%;
	float: left;
	font-size:.95rem;
	color:#333;
	}
.me-register strong input{
	display:block;
	width:70%;
	float:left;
	line-height:31px;
	border-radius:5px;
	border: solid 1px #afafaf;
	}	

.file {
    position: relative;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #999;
    text-decoration: none;
    text-indent: 0;
    line-height: 50px;
	width:25%;
	height:50px;
	float: left;
	text-align:center;
	margin-right:.5rem;
	font-size:12px;
}
.file input {
    position: absolute;
    font-size:15px;
	left: 0;
    top: 0;
    opacity: 0;
	width:100%;
	float:none;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}	
	
/*------*/



/*------*/
.zh_data{
	background:#fff;
	width:96%;
	margin:0 auto;
	border-radius:5px;
	}

.menu_a{
	padding:20px 20px;
	}
.menu_a ul{
	overflow:hidden;
	}
.menu_a ul li{
	float:left;
	margin-right:10px;
	border:solid 1px #CCC;
	border-radius:26px;
	padding:3px 10px;
	}

.menu_a ul li:hover{
    border: solid 1px #0177ef;
	border-radius:26px;
	color:#fff;
	}
.menu_a ul li a{
	color:#333;
	}
.menu_a ul li a:hover{
	color:#0177ef;
	}

.pe_data{
	padding:20px 20px;
	}

.pe_data ul li{
	padding:6px 0;
	overflow:hidden;
	line-height:34px;
	border-bottom:solid 1px #e6e6e6;
	}

.pe_data ul li label{
	width:30%;
	display:block;
	float:left;
	font-size:.95rem;
	color:#333;
	font-weight:600;
	}

.pe_data ul li input{
	width:60%;
	display:block;
	float:left;
	line-height:30px;
	border-radius:3px;
	border: solid 1px #CCC;
	text-indent:10px;
	color:#999;
	outline:none;
	}

.pe_data ul li select{
	width:40%;
	display:block;
	float:left;
	height:30px;
	line-height:26px;
	border-radius:3px;
	text-indent:10px;
	border: solid 1px #CCC;
	outline:none;
	}
/*------*/




/*------*/
.Acc-a{
	background:#fff;
	width:95%;
	margin:0 auto;
	border-radius:5px;
	padding:15px 0;
	}

.Acc-a strong{
	display:block;
	padding:10px 20px;
	font-weight:normal;
	overflow:hidden;
	}
.Acc-a strong label{
	display:block;
	float:left;
	width:25%;
	line-height:30px;
	}
	
.Acc-a strong input{
	float:left;
	height:30px;
	line-height:30px;
	border-radius:3px;
	border: solid 1px #CCC;
	text-align:center;
	width:70%;
	color:#66abed;
	outline:none;
	}
.Acc-a strong select{
	float:left;
	height:30px;
	line-height:30px;
	border-radius:3px;
	border: solid 1px #CCC;
	width:40%;
	margin-right:10px;
	outline:none;
	}


.Acc-b{
	width:95%;
	margin:0 auto;
	border-radius:5px;
	padding:15px 0;
	height:300px;
	margin-top:20px;
	background:#fff;
	}


.Acc-b h4{
	width:90%;
	font-size:.95rem;
	color:#333;
	margin:0 auto;
	line-height:36px;
	border-bottom:solid 1px #cacaca;
	}
.Acc-b h4 img{
	vertical-align:middle;
	width:6%;
	margin-right:5px;
	}

.Acc-b ul{
	width:84%;
	margin:0 auto;
	border-radius:5px;
	padding:10px;
	}
.Acc-b ul li{
	line-height:36px;
	font-size:.9rem;
	}
/*------*/





/*------*/
.newsflash{
	width:96%;
	margin:3.5rem auto auto auto;
	background:#fff;
	background-image:url(../images/xx5.png);
	background-repeat:no-repeat;
	background-position:98%;
	}
.newsflash ul li{
	padding:.5rem .8rem;
	}
.newsflash ul li strong{
	font-size:.9rem;
	font-weight:600;
	line-height:20px;
	display:block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
	width:90%;
	}
.newsflash ul li p{
	font-size:.9rem;
	color:#666;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
	width:90%;
	margin-left:.4rem;
	}	
.newsflash ul li em{
	color:#999;
	display:block;
	font-size:.9rem;
	margin-top:.5rem;
	margin-left:.4rem;
	}
/*------*/




/*------*/
.make{
	background:url(../images/fhg.png);
	background-repeat:no-repeat;
	height:200px;
	position:relative;
	}
	
.ougy{
	position:absolute;
	top:45%;
	width:100%;
	}
.ougy ul{
	background:#fff;
	width:80%;
	margin:0 auto;
	border-radius:.5rem;
	position:relative;
	padding-bottom:1.5rem;
	}
	
.logo_ou{
	position:absolute;
	top:-35px;
	left:38.5%;
	width:65px;
	height:65px;
	background:#e2e2e2;
	border-radius:100%;
	text-align:center;
	border:solid 3px #fff;
	z-index:9;
	}	
.ougy ul p{
	text-align:center;
	padding-top:12%;
	color:#666;
	font-size:1.2rem;
	}
			
.logo_ou img{ width:70%; padding:10px 0; margin-top:.2rem;}

.ougy ul li{
	margin-top:.8rem;
	padding:0 1rem;
	text-align:center;	
	word-break:break-all;
	overflow: hidden;
	color:#666;
	}
.ougy ul li input{ 
	width:100%; 
	line-height:45px;
	border-radius:5px;
	border:solid 1px #CCC;
	text-indent:10px;
	color:#666;
	outline:none;
	}	
.ougy ul li img{ width:90%;}
/*------*/


/*------*/
.login{
	background:url(../images/dlbj.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:225px;
	text-align:center;
	}
.login i{ 
	display:block;
	padding:3rem;
	}	
.login i img{ 
	width:50%; 
	height:100%;
	}
	
.login-kj{
	height:auto;
	}	
.login-kj ul{
	margin:0 auto;
	width:80%;
	padding:1.5rem 0;
	}
.login-kj ul li{
	background:url(../images/login-k.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:.5rem .3rem;
	margin-top:1.5rem;
	overflow:hidden;
	}
.login-kj ul li label{
	display:block;
	width:20%;
	text-align:center;
	box-sizing: border-box;
	float:left;
	}	
.login-kj ul li input{
	line-height:31px;
	height:31px;
	width:80%;
	float:left;
	box-sizing: border-box;
	border:none;
	outline:none;
	color:#999;
	font-size:1rem;
	}	
.login-kj ul p{
	color:#666;
	margin:.5rem 0;
	padding-left:1rem;
	font-size:.9rem;
	}	
.login-kj ul li img{ 
	width:50%;
	}

.bon{
	width:80%; 
	margin:0 auto;
	padding-top:1rem;
	}	
.bon input{
	width:100%;
	background:url(../images/login-3.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	border:none;
	line-height:45px;
	height:45px;
	outline:none;
	font-size:1.2rem;
	color:#fff;
	box-shadow:0 5px 0px #d4daff;
	border-radius:5rem;
	}		
.bon em{
	margin:1.5rem 0;
	display:block;
	text-align:center;
	font-weight:bold;
	color:#999;
	}
/*------*/



/*------*/
.two-dim{
	width:75%;
	margin:0 auto;
	}
.two-a{
	background:url(../images/BEIJ10_03fd_02.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:1rem;
	padding-bottom:2.8rem;
	}
	
.jiab{
	background: linear-gradient(rgb(140, 5, 0), rgb(0, 165, 249));
	width:85%; 
	margin:0 auto;
	padding:.3rem .3rem;
	text-align:center;
	border-radius:6px; 
	box-shadow: 0 8px 0px #a0c7d473;
	}
	
.jiab img{
	width:100%;
	}

.erwima{
	font-weight:bold;
	color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
	width:100%;
	margin:1rem 0;
	line-height:1.5rem;
	}
.two-dim input{ 
	width:100%; 
	border:none; 
	height:45px; 
	line-height:45px;
	box-shadow: 0 5px 0px #005bbc9c;
	border-radius:3px; 
	margin-top:1rem; 
	font-size:1.2rem;
	color:#0099d3;
	font-weight:bold;
	}	

.logo1{
	background:url(../images/BEIJ10_03fd_01.png);
	background-size:100% 100%;
	height:60px;
	margin-top:5.5rem;
	}	
.logo1 img{ width:20%; margin-top:2.2rem; margin-left:2.8rem;}	
/*------*/



/*------*/
.data{
	width:95%;
	margin:3.5rem auto auto auto;
	}
.data h3{
	margin-bottom:1rem;
	border-bottom:solid 1px #d6d6d6;
	padding-bottom:1rem;
	}
.data h3 em{ 
	color:#999;
	font-weight:normal;
	font-size:.8rem;
	}		
.data ul li{
	text-indent:2em;
	line-height:25px;
	color:#666;
	}	
/*------*/


/*公共头部代码开始*/
.bottom_nav{
	position:fixed;
	bottom:0;
	width:100%;
	background:#fff;
	height:60px;
	border-top: solid 1px #eaeaea;
	}

.bottom_nav ul{
	overflow:hidden;
	}

.bottom_nav ul li{
	float:left;
	width:25%;
	text-align:center;
	font-size:.9rem;
	color:#666;
	padding:5px 0;
	}
.bottom_nav ul li img{
	width:24%;
	margin-top:.3rem;
	}

/*公共底部代码结束*/



